extends include/layout
append sharedVars
    - const pageUrl = '/index.php';
    - const pageTitle = 'Главная';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    div.inner-wrap
        h1.main-title.text-center Специализированные дисциплины
        //section.program
        //    h2.program-title Антикризисное управление
        //    div.flex-wrapper
        //        div.program-module
        //            div.decorative-line
        //            div.flex-wrapper
        //                h3.program-module-number 1 модуль
        //                div.program-module-list
        //                    ul
        //                        li Маркетинговые стратегии антикризисного менеджмента
        //                        li Антикризисное управление предприятиями: реструктуризация, банкротство, слияние и поглощение
        //                        li Правовые основы антикризисного управления
        //                        li Проектный менеджмент в антикризисном управлении
        //                        li Финансово-экономические инструменты антикризисного управления
        //        div.program-module
        //            div.decorative-line
        //            div.flex-wrapper
        //                h3.program-module-number 2 модуль
        //                div.program-module-list
        //                    ul
        //                        li Маркетинговые стратегии антикризисного менеджмента
        //                        li Антикризисное управление предприятиями: реструктуризация, банкротство, слияние и поглощение
        //                        li Правовые основы антикризисного управления
        //                        li Проектный менеджмент в антикризисном управлении
        //                        li Финансово-экономические инструменты антикризисного управления



